.stuScore_content {
	width: 1300px;
}

.stuScore_content_top div{
	width: calc((1300px - 14px)/13)
}

.stuScore_content_details div{
	width: calc((1300px - 14px)/13)
}

.stuScore_content_top_last {
	display: flex;
}

.stuScore_content_top_last .change_btn {
	border: none;
}

.stuScore_content_top_last .del_btn {
	border: none;
}

.change_select {
	display: flex;
	justify-content:space-between;
}

.change_select_info {
	display: flex;
}

.change_select_info span {
	line-height: 38px;
	width: 100px;
}

.change_select  span{
	color: #fff;
	font-size: 16px;
	display: block;
}

.class_num {
	display: flex;
	margin-left: -100px;
	margin-right: 30px;
	width: 100px;
	color: red;
	line-height: 30px;
	font-size: 14px;
}

.class_num p {
	margin: 2px 0 0 4px;
}

.top_back {
	margin-top: 10px;
}

.stuScore_content_top .change_ope {
	border-right: 1px solid #fff;
}

.stuScore_content_top_last a{
	background-color: #50A8E6;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px;
}

.stuScore_bgc {
	/*width: 100vw;
	height: 100vh;*/
	padding: 10px;
	position: fixed;
	left: 35vw;
	top:20vh;
	display: none;
	background-color: rgba(153,214,213,1);
	box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
	border-radius: 4px;
}

.stuScore_bgc_top {
	color: #fff;
	font-size: 16px;
	margin: 10px auto 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
}

.stuScore_bgc .see_content {
	margin: 0 auto;
} 

.see_cancel {
	margin-right: 10px;
	cursor:pointer;
	font-size: 12px;
	padding-top: 4px;
}

.stuScore_del_bgc {
	width: 300px;
	height: 200px;
	position: fixed;
	left: 45vw;
	top: 30vh;
	background-color: #fff;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
	border-radius: 4px;
	display: none;
}

.stuScore_del_img {
	margin-top: 15px;
}

.stuScore_del_btn {
	margin-top: 20px;
	display: flex;
	justify-content:center;
}

.stuScore_del_can {
	margin-left: 20px;
}



