.see_body {
	background-color: #99d6c2;
}


.see_header {
	margin: 15vh 0 0 0;
}


.see_header h3{
	text-align: center;
	font-size: 40px;
	color: #fff;
}

.see_content {
	width: 600px;
	margin: 0 auto;
}

.see_content_top {
	display: flex;
	justify-content:space-between;
}

.see_content_top div {
	width: calc((600px - 5px)/4);
	font-size: 16px;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	line-height: 40px;
	overflow: hidden;
}

.see_content_top_last {
	border-right: 1px solid #fff;
}


.see_content_bottom_big {
	display: flex;
}

.see_content_bottom_small {
	display: flex;
	border-bottom: 1px solid #fff;
}

.see_content_bottom_small div{
	width: calc((600px - 5px)/4);
	border-left: 1px solid #fff;
	line-height: 42px;
	font-size: 12px;
	color: #fff;
}

.see_last {
	border-right: 1px solid #fff;
}