body { text-align: center; font-family:"宋体", arial;margin:0; padding:0; background: #FFF; font-size:12px; color:#000;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
li{list-style-type:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}

a:link {color: #1f3a87; text-decoration:none;}
/*a:hover {color: #bc2931; }
a:active {color: #bc2931;}*/


.content_top {
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
}

.content_top_content {
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
	margin-right: 40px;
}

.username {
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
	color: #fff;
}

.username span {
	line-height: 36px;
}

.user_exit {
	display: flex;
	justify-content:space-between;
	margin-left: 10px;
}

.user_exit span {
	display: block;
	padding-top: 14px;
}

.user_exit button {
	outline: none;
	border: none;
	background-color:transparent;
	color: #fd0000;
	line-height: 38px;
	padding: 0;
	font-size: 14px;
	margin-left: 2px;
}



.stulogin_but {
	margin-top: 20px;
}

.stulogin_but button {
	background-color: #fff;
	outline: none;
	border: none;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	color: #4d7b6c;
}

.stulogin_but button:hover{
	border: 2px solid #4d7b6c;
	font-weight: 600;
	cursor:pointer
}

.stulogin_back {
	margin-left: 50px;
}

.top_back {
	display: flex;
	justify-content:space-between;
}

.top_back a {
	display: block;
	padding: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #50A8E6;
	color: #fff;
	border-radius: 2px;
	font-size: 12px;
	cursor:pointer
}