body {
	background-color: #99d6c2;
}

.stuchoose_box {
	margin: 230px 0 0 0;
}


.stuchoose_header h3{
	text-align: center;
	font-size: 40px;
	color: #fff;
}

.stuchoose_content {
	margin-top: 100px;
}

.stuchoose_content_top{
	display: flex;
	display: -webkit-flex;
	justify-content:center;
}

.stuchoose_content_top a {
	color: #fff;
}

.stuchoose_content_top_right {

	margin-left: 20px;
}

.stuchoose_content_bottom{
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	margin-top: 20px;
}


.stuchoose_content_bottom_right {
	margin-left: 20px;
}

.stuchoose_content a {
	display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 5px;
}

.stuchoose_content a:hover{
	border: 4px solid #4d7b6c;
	font-weight: 600;
	cursor:pointer
}