<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="minimal-ui=yes,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>管理员登录主页面</title>
	<link rel="stylesheet" href="__PUBLIC__/public/css/public.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/css/stuLogin.css">
	<script src="__PUBLIC__/public/js/jq.js"></script>
</head>
<body>
	<div class="stulogin_box">
		<div class="stulogin_header">
			<h3>管 理 员 登 录 </h3>
		</div>
		<div class="stulogin_content">
			<div class="stulogin_input">
				<div class="stulogin_username">
					<span>账户:</span>
					<input ntype="text" class="stulogin_username_input" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" onkeyup="value=value.replace(/[^\w\/]/ig,'')" placeholder="请输入您的账户" maxlength="15">
				</div>
				<div class="stulogin_psw">
					<span>密码:</span>
					<input type="password" class="stulogin_psw_input" placeholder="请输入您的密码" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" onkeyup="value=value.replace(/[^\w\/]/ig,'')" maxlength="15">
				</div>
			</div>
			<div class="stulogin_but">
				<button class="stulogin_in">登录</button>
				<button class="stulogin_back" onClick="javascript :history.back(-1);">返回</button>
			</div>
		</div>
	</div>


	<script>
		$(".stulogin_in").click(function()
		{	
			if(null==$(".stulogin_username_input").val()||""==$(".stulogin_username_input").val())
			{
				alert("账户不能为空")
				return;
			}
			else if(null==$(".stulogin_psw_input").val()||""==$(".stulogin_psw_input").val())
			{
				alert("密码不能为空")
				return;
			}
			$.ajax({
				url: "{:U('Admin/Index/adminLoginU')}",
				data: {
						'username': $(".stulogin_username_input").val(),
						'pass':$(".stulogin_psw_input").val()
					  },
				dataType : 'json', 
				type: 'post',
				success: function (data) {
					console.log(data)
					if(1==data.status)
					{
						window.location.href="{:U('Admin/index/adminChoose')}";
					}else if(0==data.status)
					{
						alert("密码错误");
					}
				},
				error: function (XmlHttpRequest) {
					alert(XmlHttpRequest.status);
				}
			})
		})
	</script>
</body>
</html>